export(itreemap)
export(random.hierarchical.data)
export(tmPlot)
export(treecolors)
export(treegraph)
export(treemap)
export(treepalette)
import(RColorBrewer)
import(colorspace)
import(data.table)
import(grid)
import(gridBase)
import(igraph)
import(shiny)
