export(itreemap)
export(tmClick)
export(tmPlot)
export(treemap)
export(treepalette)
import(RColorBrewer)
import(colorspace)
import(data.table)
import(grid)
import(gridBase)
import(igraph)
import(shiny)
